.popup__close-button {
    background-color: transparent;
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    background-image: url(../../../images/Close\ Icon.png);
    background-size: cover;
    position: absolute;
    left: 434px;
    top: -37px;
    color: #FFF;
}

@media screen and (max-width: 767px) {
    .popup__close-button{
        width: 20px;
        height: 20px;
        left: 253px;
        top: -43px;
    }
}